html, body {
    background-color: #ffffff;
    background-image: url("/assets/images/siteBG.png");
}

.navbar {
    background-image: url("/assets/images/navplane.webp");
    background-repeat: no-repeat;
    background-size: 100% 230%;
    background-color: #3895d3;
    padding: 10px;
    box-shadow: 2px 2px 2px #000000;
    color: #ffffff;
    text-align: center;
}

.brand-icon {
    font-size: 200%;
    color: #53e8ff;
}

#widget {
    /* Initially doing 100% without 'VH' as a fallback for older browsers */
    min-height: 100%;
    /* Sets the viewport height to be 100% */
    min-height: 100vh;
    /* Do Flex */
    display: flex;
    /* Align Items Center */
    align-items: center;
    /* Align Content Center */
    justify-content: center;
}

.navbar-brand {
    font-size: 200% !important;
}

#appDescribe {
    font-size: 50%;
    margin: 10px;
}

ul {
    margin: 10;
    padding: 0;
    float: left;
    list-style-type: none;
}

.nav-link {
    background-color: #428bca;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    border: 2px solid;
    border-radius: 20%;
}

.navigation {
    position: relative;
    top: -235px;
    margin-top: 14px;
    margin-left: 10px;
    color: #ffffff;
    float: left;
}